


.LOL{
    color: rgb(17, 6, 6);
    font-size: larger;
    padding-left: 2vb;
    font-family:'Times New Roman', Times, serif;
    text-shadow: 5cap;
    text-rendering: optimizeSpeed;
}

